@import 'base/base';
@import 'base/_mixins.scss';
@import 'base/variables';

%font-bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

%font-medium {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

%font-roboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

.header {
    width: 1440px;
    height: 700px;
    background-image: url('../image/Background.jpg');
    margin: 0 auto;


    &__logo {
        display: flex;
        justify-content: space-between;
        padding: 41px 291px 0 248px;
        align-items: center;
    }

    &__logo-link {
        @extend %font-bold;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        color: #FFFFFF;
    }

    &__logo-block {
        display: flex;
        align-items: center;
    }

    &__logo-login {
        color: #FFFFFF;
        text-decoration: none;
        @extend %font-medium;
        font-size: 14px;
        line-height: 17px;
        margin-right: 19px;
    }

    &__logo-signup {
        display: flex;
        height: 36px;
        width: 90px;
        color: #FFFFFF;
        text-decoration: none;
        @extend %font-medium;
        font-size: 14px;
        line-height: 17px;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
    }

    &__logo-signup:hover {
        background-color: #FFFFFF;
        color: black;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 470px;
        height: 253px;
        align-items: center;
        justify-content: space-between;
        margin: 147px auto 0;
    }

    &__content-heading {
        @extend %font-bold;
        font-size: 52px;
        line-height: 63px;
        text-align: center;
        color: #FFFFFF;
    }

    &__content-text {
        @extend %font-roboto;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #F7F3F2;
    }

    &__content-button {
        text-decoration: none;
        width: 225px;
        height: 40px;
        @extend %font-bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        background-color: #FF4E50;
        border-radius: 40px;
    }

    &__content-button:hover {
        background-color: transparent;
        color: white;
        border: 3px solid #FF4E50;
    }
}

.main {
    padding: 89px 250px 92px;
    width: 1440px;
    margin: 0 auto;

    &__about-heading {
        display: flex;
        justify-content: center;
        @extend %font-bold;
        font-size: 26px;
        line-height: 32px;
        color: #444444;
    }

    &__about-content {
        display: grid;
        cursor: pointer;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 400px;
        place-items: stretch stretch;
        place-content: stretch stretch;
        margin-top: 35px;
        gap: 0 20px;
    }

    &__about-block {
        display: flex;
        flex-direction: column;
        padding: 0 25px 21px;
        justify-content: end;

        &__heading {
            @extend %font-bold;
            font-size: 24px;
            line-height: 26px;
            color: #FFFFFF;
            margin-bottom: 24px;
        }

        &--back-img1 {
            background-image: url('../image/Step\ 1\ image.jpg');
        }

        &--back-img2 {
            background-image: url('../image/Step\ 2\ image.png');
        }

        &--back-img3 {
            background-image: url('../image/Step\ 3\ image.png');
        }
    }

    &__about-button {
        width: 70px;
        height: 20px;
        background: #FF4E50;
        border-radius: 40px;
        @extend %font-medium;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-decoration: none;
        margin-bottom: 18px;
    }

    &__about-text {
        @extend %font-roboto;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: flex-end;
        color: #E3E3E3;
    }
}

.partner {
    margin: 0 auto;

    &__heading {
        @extend %font-bold;
        font-size: 26px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        color: #444444;
        margin-top: 89px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 221px;
        height: 205px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &--height {
            height: 224px;
        }

        &--height1 {
            height: 224px;
        }
    }

    &__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    &--img1 {
        background-image: url('../image/Avatar.png');
    }

    %icon-after {
        content: "";
        display: block;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        position: relative;
        left: 85px;
        top: 85px;
        border: 3px solid white;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &--img1::after {
        @extend %icon-after;
        background-color: #FF4E50;
        background-image: url('../image/music2.png');
    }

    &--img2 {
        background-image: url('../image/Avatar2.png');
    }

    &--img2::after {
        @extend %icon-after;
        background-color: #19D4CA;
        background-image: url('../image/brush.png');
    }

    &--img3 {
        background-image: url('../image/Avatar3.png');
    }

    &--img3::after {
        @extend %icon-after;
        background-color: #FFA710;
        background-image: url('../image/camera.png');
    }

    &--img4 {
        background-image: url('../image/Avatar4.png');
    }

    &--img4::after {
        @extend %icon-after;
        background-color: #667DF3;
        background-image: url('../image/airplane.png');
    }

    &__name {
        @extend %font-bold;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        display: flex;

        &--mt {
            margin-top: -8px;
        }
    }

    &__text {
        @extend %font-roboto;
        font-size: 14px;
        line-height: 14px;
        color: #666666;
        text-align: center;

        &--mt {
            margin-top: 8px;
        }
    }

    &__button {
        @extend %font-bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FF4E50;
        width: 180px;
        height: 40px;
        left: 381px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        text-decoration: none;
        margin: 36px auto 0;
        padding-left: 6px;
    }

    &__button:hover {
        background-color: #FF4E50;
        color: white;
    }
}

.active-ideas {
    margin-top: 89px;

    &__heading {
        @extend %font-bold;
        font-size: 26px;
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #444444;
    }

    &__block {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 310px 310px 310px;
        place-items: stretch stretch;
        place-content: stretch stretch;
        gap: 20px 20px;

    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background: #000000;
        cursor: pointer;
        background-position: center;

        &--bapmap1 {
            background-image: url('../image/Object1.png');
        }

        &--bapmap2 {
            background-image: url('../image/Bitmap2.png');
        }

        &--bapmap3 {
            background-image: url('../image/Bitmap3.png');
        }

        &--bapmap4 {
            background-image: url('../image/Bitmap4.png');
        }

        &--bapmap5 {
            background-image: url('../image/Bitmap5.png');
            grid-column: 2 / 4;
        }

        &--bapmap6 {
            background-image: url('../image/Bitmap6.png');
            grid-column: 1 / 3;
        }

        &--bapmap7 {
            background-image: url('../image/Bitmap7.png');
        }


    }

    &__box:hover {
        transform: scale(1.2);
    }

    &__text {
        @extend %font-bold;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        display: flex;
        text-align: center;
    }
}

.search {
    margin-top: 89px;

    &__heading {
        @extend %font-bold;
        font-size: 26px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        color: #444444;
    }

    &__text {
        @extend %font-roboto;
        font-size: 18px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        color: #666666;
        margin-top: 53px;
    }

    &__box {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    input[type=text] {
        width: 299px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
        padding: 5px 0 0 12px;
        letter-spacing: 0.2px;
    }

    &__button {
        @extend %font-bold;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #FF4E50;
        border-radius: 40px;
        width: 172.12px;
        height: 40px;
        margin-left: 10px;
    }

    &__button:hover {
        background-color: transparent;
        color: #FF4E50;
        border: 3px solid #FF4E50;
    }
}

.hr {
    border: none;
    width: 1440px;
    height: 2px;
    background-color: #FF4E50;
}

.footer {
    margin: 0 auto;
    width: 1440px;
    padding: 29px 250px 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__logo {
        @extend %font-medium;
        font-size: 16px;
        line-height: 20px;
        color: #FF4E50;

    }

    &__company {
        margin: 1px 0 0 5px;

        &__name {
            @extend %font-bold;
            font-size: 14px;
            line-height: 17px;
            color: #444444;
            margin-bottom: 11px;
        }

        ul>li {
            @extend %font-roboto;
            font-size: 14px;
            line-height: 26px;
            color: #999999;
        }
    }

    &__pathers {
        @extend %font-bold;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        margin: 2px 0 0 9px
    }

    &__designed {
        display: flex;
        flex-direction: column;
        align-items: end;

        &__text {
            @extend %font-bold;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
            color: #CCCCCC;
            margin-top: 2px;
        }

        &__logo {
            width: 110px;
            height: 24px;
            background-image: url('../image/Bitmap.png');
            margin-top: 6px;
        }
    }

}

@media screen and (max-width: 1443px) and (min-width: 768px) {
    .header {
        width: 768px;
        background-position: center;

        &__logo {
            display: flex;
            justify-content: space-between;
            padding: 41px 50px 0 48px;
            align-items: center;
        }
    }

    .main {
        padding: 94px 10px 92px;
        width: 768px;

        &__about-heading {
            font-size: 22px;
            line-height: 27px;
        }

        &__about-content {
            grid-template-columns: 236px 236px 236px;
        }

        &__about-block {
            padding: 0px 20px 15px;

            &__heading {
                line-height: 14px;
            }
        }

        &__about-button--mb {
            margin-bottom: 44px;
        }

        &__about-button--mb-1 {
            margin-bottom: 14px;
        }

        &__about-block__heading--mb {
            margin-bottom: 30px;
        }
    }

    .partner {
        padding: 0 128px;
        margin: 0 auto;

        &__heading {
            font-size: 22px;
            line-height: 27px;
            margin-top: 94px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 0;
        }

        &__box {
            width: 236px;
            margin-top: 36px;

            &--height1 {
                height: 205px;
            }
        }

        &--order-4 {
            order: -4;
        }

        &--order-3 {
            order: -3;
        }

        &__button {
            margin-top: 41px;
        }
    }

    .hr {
        width: 100%;
    }

    .active-ideas {
        margin-top: 93px;

        &__heading {
            font-size: 22px;
            line-height: 27px;
        }

        &__block {
            grid-template-columns: 236px 236px 236px;
        }

        &__box {
            padding: 0 15px;
        }



    }

    .search {
        margin-top: 92px;

        &__heading {
            font-size: 22px;
            line-height: 27px;
        }
    }

    .footer {
        margin: 0 auto;
        width: 768px;
        padding: 29px 39px 20px 40px;

        &__company {
            margin: 1px 0 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__pathers {
            margin: 2px 0 0 -5px;
            display: flex;
            justify-content: center;
        }

        ul>li {
            margin-left: 44px;
        }

    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 320px;
        height: 540px;
        background-size: cover;
        background-position: center;

        &__logo {
            padding: 20px 0 0 83px;
            flex-wrap: wrap-reverse;
        }

        &__logo-link {
            margin: 97px 0 0 13px;
        }

        &__content {
            width: 281px;
            height: 183.5px;
            margin: 26.5px 0 0 30px;
        }

        &__content-heading {
            font-size: 30px;
            line-height: 37px;
        }

        &__content-text {
            font-size: 18px;
            line-height: 24px;
            margin-top: -10px;
        }

        &__content-button {
            width: 280px;
        }
    }

    .main {
        padding: 35px 10px 32px;
        width: 320px;

        &__about-heading {
            font-size: 22px;
            line-height: 27px;
        }

        &__about-content {
            grid-template-columns: 300px;
            grid-template-rows: 240px 240px 240px;
            gap: 10px;
            margin-top: 14px;
        }

        &__about-block {
            padding: 0px 27px 15px 20px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            &__heading {
                line-height: 14px;
            }
        }

        &__about-button--mb {
            margin-bottom: 44px;
        }

        &__about-button--mb-1 {
            margin-bottom: 28px
        }

        &__about-block__heading--mb {
            margin-bottom: 25px;
        }
    }

    .partner {
        padding: 0 10px;
        margin: 0 auto;

        &__heading {
            font-size: 22px;
            line-height: 27px;
            margin-top: 36px;
            text-align: center;
        }

        &__content {
            justify-content: center;
            flex-wrap: wrap;
            margin-top: -2px;
        }

        &__box {
            width: 236px;
            margin-top: 16px;

            &--height1 {
                height: 205px;
            }
        }

        &__name--mt {
            margin-top: -3px;
        }

        &--order-4 {
            order: -4;
        }

        &--order-3 {
            order: -3;
        }

        &__button {
            margin-top: 37px;
            width: 280px;
        }
    }

    .hr {
        width: 100%;
    }

    .active-ideas {
        margin-top: 34px;

        &__heading {
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            padding: 0 10px;
        }

        &__block {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat(7, 120px);
            gap: 10px;
            margin-top: 33px;
        }

        &__box {
            padding: 0 47px;
            background-size: cover;

            &--bapmap1 {
                align-items: start;
                padding-top: 21px;
            }

            &--bapmap5 {
                background-image: url('../image/Bitmap5.png');
                grid-column: span 1;
                padding: 0 15px;
            }

            &--bapmap6 {
                background-image: url('../image/Bitmap6.png');
                grid-column: span 1;
                padding: 0 10px;
            }
        }

    }

    .search {
        margin-top: 35px;
        padding: 0 10px;

        &__heading {
            font-size: 22px;
            line-height: 27px;
            text-align: center;
        }

        &__text {
            margin-top: 19px;
        }

        &__box {
            margin-top: 15px;
            flex-wrap: wrap;
        }

        &__button {
            width: 280px;
            margin: 10px 0 0;
            padding-left: 11px;
        }
    }

    .footer {
        margin: 0 auto;
        width: 320px;
        padding: 12px 20px 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        &__company {
            margin: 13px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__name {
                margin: 0;
            }
        }

        &__pathers {
            margin: 6px 0 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
        }

        ul>li {
            margin-right: 14px;
        }

        &__designed {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__text {
                margin-top: 0px;
            }

            &__logo {
                margin-top: 7px;
            }
        }

    }
}